#
# Copyright (C) 2022-2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Charger
/sys/class/battchg_ext  smart_charging_interruption  0660  system  system

# Wireless charging
/sys/class/qcom-battery wireless_boost_en    0644 system system

# Torch control
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-01/c42d000.qcom,spmi:qcom,pm8550@1:qcom,flash_led@ee00/leds/led:switch_0 brightness 0660 cameraserver camera
/sys/devices/platform/soc/c42d000.qcom,spmi/spmi-0/0-01/c42d000.qcom,spmi:qcom,pm8550@1:qcom,flash_led@ee00/leds/led:torch_0 brightness 0660 cameraserver camera
